<!DOCTYPE html>
<html lang='en'>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mars Information</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header>
        <div class="container-fluid">
            <div class="jumbotron text-center">
                <h1>Mission to Mars</h1>
                <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape New Data</a></p>
            </div>
        </div>
    </header>
    <main>
        <div class='container'>
            <div class="row">
                <div class="col-md-12">
                    <h2>Latest Mars News</h2>
                    <h3>{{ info.news_title }}</h3>
                    <p>{{ info.news_paragraph }}</p>
                </div>
            </div>
            <div class='row'>
                <div class='col-md-8'>
                    <h2>Featured Mars Image</h2>
                    <img src='{{ info.featured_image }}' width='85%' height='85%' alt='Image of Mars'>
                </div>
                <div class='col-md-4'>
                    <h3>Current Weather on Mars</h3>
                    <p>{{ info.mars_weather }}</p>
                    <table>
                        <tr>
                            <td>
                                <h3>Mars Facts</h3>
                            </td>
                        </tr>
                        {% for key, value in info.mars_facts.iteritems %}
                        <tr>
                            <td>
                                <p>{{ key }}</p>
                            </td>
                            <td>
                                <p>{{ value }}</p>
                            </td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
            <div class="row">
                <div class="col-md-12">
                    <h2>Mars Hemispheres</h2>
                </div>
            </div>
            <div class='row'>
                <div class='col-md-3'>
                    {% for hemisphere in info.hemisphere_image_urls %}
                        <img src='{{ hemisphere.img_url }}' alt= '{{ hemisphere.title }}' class='img-thumbnail'>
                        <h4>{{ hemisphere.title }}</h4>
                    {% endfor %}
                </div>
            </div>

        
        </main>
    
</body>
</html>